<div class="action-conatiner">
  <div class="left-container">
    <div class="action-header">
      <h2> {{ method }} {{ type }} :</h2>
      <div class="right-action-header">
        <button (click)="convert()">Convert</button>
        <button (click)="reset()">Reset</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <input type="file"  #uploadFile accept=".{{type}}"  (change)="renderUploadedFile($event)"/>
    <p class="or-text">Or</p>
    <textarea  [(ngModel)]="convertKeyWord" class="converter-textarea" placeholder="Enter Text"></textarea>
  </div>
  <div class="right-container">
  <div class="result-container">

    <div class="action-header">
      <h2>Result :</h2>
      <div class="right-action-header">
        <button (click)="copy()" class="btn">Copy</button>
        <a (click)="download()" class="btn">Download</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="result-content" id="resultContent">
      <textarea>{{convertResult}}</textarea>
    </div>
    <ngx-json-viewer [json]="jsonResultData"  *ngIf="method=='beautify' && type=='json'"></ngx-json-viewer>

    <div class="error-text" *ngIf="errorData.json">
      {{errorData.json}}
    </div>
  </div>
</div>
</div>
