<div class="timestamp-container">
  <div class="left-container">
    <div class="input-container">

      <input type="text" class="time-stamp-text" [(ngModel)]="currentTimeStamp" appOnlynumaricinput>
      
      <input type="button" class="convert-btn" value="Convert" (click)="changeTimeStamp()" />
      <p class="disabled-text">seconds since Jan 01 1970. (UTC)</p>
    </div>
    <div class="result-container">
      <p class="time-row">
        <label>UTC Time</label><span>{{timeData.utcTime}}</span>
      </p>
      <p class="time-row">
        <label>Local Time</label><span>{{timeData.clientTime}}</span>
      </p>

      <p class="time-row">
        <ng-select class="custom" [(ngModel)]="currentTimeZone" [items]="timezoneList" (change)="changeTimezone()">
        </ng-select>
      </p>
      <p class="time-row">
        <label>{{ currentTimeZone }}</label><span>{{timeData.timeZoneTime}}</span>
      </p>

    </div>
  </div>
  <div class="right-container">
    <div class="input-container">
      <table cellspacing="5" style="width:100%">
        <tr>
        <td class="time-box">
          <input type="text" class="time-text" minlength="4" maxlength="4" placeholder="Y" [(ngModel)]="currentTimeData.year"
            appOnlynumaricinput>
        </td>
        <td class="time-box">
          <input type="text" class="time-text" minlength="2" maxlength="2" placeholder="M" [(ngModel)]="currentTimeData.month"
          appOnlynumaricinput>
        </td>
        <td class="time-box">
          <input type="text" class="time-text" minlength="2" maxlength="2" placeholder="D" [(ngModel)]="currentTimeData.day"
          appOnlynumaricinput>
        </td>
        <td class="time-box">
          <input type="text" class="time-text" minlength="2" maxlength="2" placeholder="hh" [(ngModel)]="currentTimeData.hour"
          appOnlynumaricinput>
        </td>
        <td class="time-box">
          <input type="text" class="time-text" minlength="2" maxlength="2" placeholder="mm" [(ngModel)]="currentTimeData.min"
          appOnlynumaricinput>
        </td>
        <td class="time-box">
          <input type="text" class="time-text" minlength="2" maxlength="2" placeholder="ss" [(ngModel)]="currentTimeData.sec"
          appOnlynumaricinput>
        </td>
        <td class="time-box text-center" >
          <input type="button" class="convert-btn" value="Convert" (click)="getTimeStampFromDate()" />
        </td>
      </tr>
      </table>

    </div>
    <div class="result-container">
      <p class="time-row">
        <label>Timestamp</label><span>{{timeData.timestamp}}</span>
      </p>
    </div>
  </div>
</div>
