<div class="action-conatiner timestamp-container">
  <div class="left-container">
    <div class="input-container">

      <input type="number" maxlength="13" class="time-stamp-text" [(ngModel)]="currentTimeStamp">
      
      <input type="button" class="convert-btn" value="Convert" (click)="changeTimeStamp()" />
      <p class="disabled-text">seconds since Jan 01 1970. (UTC)</p>
    </div>
    <div class="result-container">
      <p class="time-row">
        <label>UTC Time</label><span>{{timeData.utcTime}}</span>
      </p>
      <p class="time-row">
        <label>Local Time</label><span>{{timeData.clientTime}}</span>
      </p>

      <p class="time-row">
        <ng-select class="custom" [(ngModel)]="currentTimeZone" [items]="timezoneList" (change)="changeTimezone()">
        </ng-select>
      </p>
      <p class="time-row">
        <label>{{ currentTimeZone }}</label><span>{{timeData.timeZoneTime}}</span>
      </p>

    </div>
  </div>
  <div class="mid-container">
    <!-- <app-clock></app-clock> -->
  </div>
  <div class="right-container">
    <div class="input-container">
      <input type="number" class="time-text" minlength="4" maxlength="4" placeholder="Y" [(ngModel)]="currentTimeData.year"/>
      <input type="number" class="time-text" minlength="2" maxlength="2" placeholder="M" [(ngModel)]="currentTimeData.month"/>
      <input type="number" class="time-text" minlength="2" maxlength="2" placeholder="D" [(ngModel)]="currentTimeData.day"/>
      <input type="number" class="time-text" minlength="2" maxlength="2" placeholder="hh" [(ngModel)]="currentTimeData.hour"/>
      <input type="number" class="time-text" minlength="2" maxlength="2" placeholder="mm" [(ngModel)]="currentTimeData.min"/>
      <input type="number" class="time-text" minlength="2" maxlength="2" max="59" placeholder="ss" [(ngModel)]="currentTimeData.sec"/>
      <input type="button" class="convert-btn" value="Convert" (click)="getTimeStampFromDate()" />
    </div>
    <div class="result-container">
      <p class="time-row">
        <em>{{timeData.timestamp}}</em>
      </p>
    </div>
  </div>
</div>
