@import "~@ng-select/ng-select/themes/material.theme.css";

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

body {
  background: #3e3e3e;

}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.header {
  position: relative;
  padding: 10px;

  .header-heading {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
}

.dropdown {
  position: relative;
  float: right;

  li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  a {
    color: #FFF;
  }

  li.active {
    background-color: #4CAF50;
  }


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  overflow: auto;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    color: #000;
  }

}

.dropdown a {
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-li:hover .dropdown-content {
  display: block;
  right: 0;
}

.dropdown-content a:hover {
  background-color: #4CAF50;
  color: #FFF;

}

.content {
  background: #FFF;
  margin: 0 10px;
  min-height: calc(100vh - 90px);
  padding: 5px 10px 0 10px;
  overflow: scroll;
}

.action-conatiner {
  textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #CCC;
    outline: none;

  }

  .action-header {
    h2 {
      float: left;
      text-transform: capitalize;
    }

    .right-action-header {
      float: right;

      button {
        outline: none;
        padding: 10px;
        margin: 2px 5px;
        background: #3e3e3e;
        color: #FFF;
        border: none;
        border-radius: 2px;
      }
    }
  }
}

div#resultContent {
  word-break: break-all;
}

.timestamp-container {
  padding-top: 10px;
  position: relative;

  .input-container {
    position: relative;
    text-align: center;
    padding-bottom: 10px;

    .time-stamp-text {
      position: relative;
      width: 90%;
      border: none;
      border-bottom: 1px solid #CCC;
      padding: 10px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      outline: none;
    }

    .time-text {
      position: relative;
      width: 60px;

      border: none;
      border-bottom: 1px solid #CCC;
      padding: 10px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      outline: none;
    }

    .convert-btn {
      background-color: #4CAF50;
      padding: 10px;
      color: #FFF;
      border: none;
      width: 90px;

    }
  }

}

.left-container {
  float: left;
  width: 49%;
  border: 1px solid #CCC;
  height: 100%;
}

.right-container {
  float: right;
  width: 49%;
  border: 1px solid #CCC;
  height: 100%;
}

.converter-textarea {
  min-height: calc(100vh - 200px);
  border: none !important;
}

.converter-textarea::placeholder {
  color: #222;
 font-size: 25px;
 font-weight: bold;
  opacity: 0.2;
  /* Firefox */
}

.converter-textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222;
  font-size: 25px;
  font-weight: bold;
   opacity: 0.2;
}

.converter-textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #222;
  font-size: 25px;
  font-weight: bold;
   opacity: 0.2;
}

@media only screen and (max-width:768px) {
  .left-container {
    float: none;
    width: 100%
  }

  .right-container {
    float: none;
    width: 100%
  }
}

.disabled-text {
  font-size: 12px;
  color: #CCC;
}

.timestamp-container {
  .result-container {
    .time-row {
      padding: 10px;

      label {
        display: inline-block;
        width: 200px;
        font-weight: bold;
      }
    }

  }
}

.error-text {
  color: red;
  font-size: 16px;
}
.or-text {
    padding: 10px;
    font-weight: bold;
}