@import "~@ng-select/ng-select/themes/material.theme.css";
@import "./assets/flipbox.scss";
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

body {
  background: #3e3e3e;

}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}
.codicon-chevron-down::before{
  content: '>' !important;
}
.codicon-chevron-right::before {
  content: '>' !important;
  transform: rotate(90deg);
}
.header {
  position: relative;
  padding: 10px 10px 0 10px;

  .header-heading {
    color: #FFF;

    font-weight: bold;
    float: left;
    img {
      width: 84px;
    }
  }
}
.landing-menu {
  .menu-inner {
    h2 {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #CCC;
      margin: 10px;
    }
    .menu-content {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

    }
  }
}
%button-style {
  button {
    background-color: #3e3e3e !important;
    border: none !important;
    color: #FFF;
    margin: 2px 0;
    padding: 10px;
    outline: none;
    cursor: pointer;
    min-width: 100px;
    &:hover,&.active {
      background: #4caf50 !important;
    }
    &:disabled {
      background-color: #828282 !important;
    }
  }
}
.dropdown {
  position: relative;
  float: right;

  li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  a {
    color: #FFF;
  }

  li.active {
    background-color: #4CAF50;
  }


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  overflow: auto;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  span {
    margin: 10px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    color: #999;
    font-weight: bold;
  }
  a {
    color: #000;
  }

}

.dropdown a {
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-li:hover .dropdown-content {
  display: block;
  right: 0;

}

.dropdown-content a:hover {
  background-color: #4CAF50;
  color: #FFF;

}
.compare-result-content {

  .td-toolbar-select-format {
    @extend %button-style;
  }
}
.content {
  background: #FFF;
  margin: 0 10px;
  min-height: calc(100vh - 90px);
  padding: 5px 10px 0 10px;
}
.top-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
}
.action-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh - 120px);
  .left-container {
    width: 45%;
    border: 1px solid #CCC;
    height: 99%;

    &.non-editor-container {
    display: flex;
    align-self: stretch;
    }
    .upload-file-container {
      width: 100%;
      display: flex;
      align-self: center;
      text-align: center;
      flex-direction: column;
    }
    textarea {
      width: 100%;
      outline: none;
      border: none;
    }
    ngs-code-editor,
    .ace-monokai {
      height: 100%;
      *{ font-size: 12px !important;direction:ltr !important;text-align:left !important;}
    }
  }

  .right-container {
    width: 45%;
    border: 1px solid #CCC;
    height: 99%;
    display: flex;
    align-self: stretch;
    .result-content {
      width: 100%;
      height: 99%;
      word-break: break-all;
      overflow-y: hidden;
      &.non-editor-container {
        display: flex;
        align-self: stretch;
        overflow-y: auto;
        }
      overflow-x: hidden;
      textarea {
        width: 100%;
        outline: none;
        border: none;
      }
      ngs-code-editor,
      .ace-monokai {
        height: 100%;
        *{ font-size: 12px !important;direction:ltr !important;text-align:left !important;}
      }

    }
  }
  .mid-container {
      display: flex;
      flex-direction: column;
      align-self: center;
      app-action-container {
          display: flex;
          flex-direction: column;
        }
       @extend %button-style;
  }
  .ngx-json-viewer {
    font-size: 13px !important;
    padding: 5px;
    height: auto !important;
    word-break: break-all;

    .toggler {
      line-height: 0 !important;
      &:after {
        color: #FFF;
        transform: none !important;
        border: 1px solid #3e3e3e;
        width: 9px;
        padding: 5px 0;
        text-align: center;
        background: #3e3e3e;
      }
    }
    .expandable {
      .toggler {
        &:after {
          content: '+' !important;
        }
      }
      &.expanded {
        .toggler {
          &:after {
            content: '-' !important;
          }
        }
      }
    }

    .segment.segment-type-object, .segment.segment-type-array {
        border-left: 1px solid #ececec;
    }
    .segment-key {
      font-weight: bold;
    }
    .segment-separator {

    }
    .segment-value {
      font-weight: normal;
    }
  }


  .action-header {
    h2 {
      float: left;
      text-transform: capitalize;
    }

    .right-action-header {
      float: right;

      button,
      .btn {
        outline: none;
        padding: 10px;
        margin: 2px 5px;
        background: #3e3e3e;
        color: #FFF;
        border: none;
        border-radius: 2px;
      }
    }
  }
  &.timestamp-container {
    .left-container {
      display: block;
      .input-container {
        position: relative;
        text-align: center;
        padding-bottom: 10px;

        .time-stamp-text {
          position: relative;
          width: 99%;
          border: none;
          border-bottom: 1px solid #CCC;
          padding: 3px;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          outline: none;
        }

        .time-text {
          position: relative;
          width: 60px;

          border: none;
          border-bottom: 1px solid #CCC;
          padding: 10px;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          outline: none;
        }

        .convert-btn {
          background-color: #3e3e3e;
          padding: 10px;
          color: #FFF;
          border: none;
          width: 90px;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          &:hover {
            background: #4caf50;
          }
        }
      }
    }
    .right-container {
      display: block;
      .input-container {
        display: flex;
        input {
          width: 14%;
          text-align: center;
          border: none;
          border-bottom: 1px solid #CCC;
          padding: 3px;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          outline: none;
          &[type=button] {
            background-color: #3e3e3e;
            padding: 10px;
            color: #FFF;
            font-size: 13px;
            cursor: pointer;
            &:hover {
              background: #4caf50;
            }
          }
        }
      }
    }
  }
}
.compare-btn-content {
  text-align: center;
  @extend %button-style;

}

div#resultContent textarea {
  word-break: break-all;
  // height: calc(100vh - 140px);
  border: none;
}


// .timestamp-container {
//   padding-top: 10px;
//   position: relative;

//   .input-container {
//     position: relative;
//     text-align: center;
//     padding-bottom: 10px;

//     .time-stamp-text {
//       position: relative;
//       width: 82%;
//       border: none;
//       border-bottom: 1px solid #CCC;
//       padding: 6px;
//       font-size: 25px;
//       font-weight: bold;
//       text-align: center;
//       outline: none;
//     }

//     .time-text {
//       position: relative;
//       width: 60px;

//       border: none;
//       border-bottom: 1px solid #CCC;
//       padding: 10px;
//       font-size: 25px;
//       font-weight: bold;
//       text-align: center;
//       outline: none;
//     }

//     .convert-btn {
//       background-color: #4CAF50;
//       padding: 10px;
//       color: #FFF;
//       border: none;
//       width: 90px;

//     }
//   }

// }



// .converter-textarea{
//   min-height: calc(100vh - 200px);
//   border: none !important;
//   &.encoder {
//     min-height: calc(100vh - 150px);
//   }
// }

.converter-textarea::placeholder {
  color: #222;
  font-size: 25px;
  font-weight: bold;
  opacity: 0.2;
  /* Firefox */
}

.converter-textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222;
  font-size: 25px;
  font-weight: bold;
  opacity: 0.2;
}

.converter-textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #222;
  font-size: 25px;
  font-weight: bold;
  opacity: 0.2;
}

@media only screen and (max-width:768px) {
  .left-container {
    float: none;
    width: 100%
  }

  .right-container {
    float: none;
    width: 100%
  }
}

.disabled-text {
  font-size: 12px;
  color: #CCC;
}

.timestamp-container {
  .result-container {
    .time-row {
      padding: 10px;
      em {
        display: block;
        font-style: normal;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }


      label {
        display: inline-block;
        width: 200px;
        font-weight: bold;
      }
    }

  }
}

.error-text {
  color: red;
  font-size: 14px;
  background: #ffcbcb;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.or-text {
  padding: 10px;
  font-weight: bold;
}
.row {
  padding: 5px;
  position: relative;

  .form-err {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 10px;
    background: rgba(241, 177, 177, 0.5);
    padding: 4px 10px;
    color: #981c1c;
    border: 1px solid #981c1c;
    border-radius: 3px;
  }
  .form-err.input {
    width: auto;
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 10px;
    background: rgba(241, 177, 177, 0.5);
    padding: 4px 10px;
    color: #981c1c;
    border: 1px solid #981c1c;
    border-radius: 3px;
  }
  .input {
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
    width: 100%;
    outline: none;
  }

  .btn {
    padding: 10px 15px;
    background: #4CAF50;
    border: none;
    outline: navajowhite;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.converter-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #CCC;
}

@media only screen and (max-width:768px) {
  .converter-container {
    width: 100%;
  }
}
